<!-- FOOTER & CREDIT -->
<div class="bg-faded navbar-light text-white footer">
    <div class="container">
        <div class="row">
          <div class="p-4 col-md-3">
            <h2 class="mb-4 ">BigCloud</h2>
            <p class="text-white">A company for whatever you may need, from website prototyping to publishing</p>
        </div>
        <div class="p-4 col-md-3">
            <h2 class="mb-4 ">AED TRACKING</h2>
            <ul class="list-unstyled">
                <a href="#" class="text-white">Home</a>
                <br>
                <a href="#" class="text-white">Contact</a>
                <br>
                <a href="#" class="text-white">Notification</a>
                <br>
                <a href="#" class="text-white">Login</a>
          </ul>
      </div>
      <div class="p-4 col-md-3">
        <h2 class="mb-4">Contact</h2>
        <p>
            <a href="tel:+61-410 395 375" class="text-white">
                <i class="fas d-inline mr-3 text-primary fa-phone"></i>+</a>61 - 410 395375</p>
                <p>
                  <a href="mailto:info@pingendo.com" class="text-white">
                    <i class="fas d-inline mr-3 text-primary fa-envelope"></i>n</a>9776001@qut.edu.au
                </p>
                <p>
                  <a href="https://goo.gl/maps/AUq7b9W7yYJ2" class="text-white" target="_blank">
                    <i class="fas d-inline mr-3 fa-map-marker text-primary"></i>D</a>eshon St, QLD 4102&nbsp;
                </p>
                </div>
                <div class="p-4 col-md-3">
                    <h2 class="mb-4 text-light">Submit Issues</h2>
                    <form>
                      <fieldset class="form-group text-white">
                        <label for="exampleInputEmail1">Submit Issue</label>
                        <input type="email" class="form-control" placeholder="Enter email"> </fieldset>
                        <button type="submit" class="btn btn-outline-light text-white"><i class="far fa-lg fa-envelope d-inline "></i>&nbsp;Submit</button>
                    </form>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12 mt-3">
                <p class="text-center text-white">© Copyright 2018 Big CLoud - All rights reserved. </p>
            </div>
        </div>
    </div>
</div>