<div class="row">
    <div class="col-sm-7 col-centered">
        <div class="wizard-container">
            <div class="card wizard-card" data-color="red" id="wizard">
                <h3 class="text-center">gp01 details</h3>
                <br>
                <table class="table table-striped">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Campus</th>
                      <th scope="col">Location</th>
                      <th scope="col">Status</th>
                      <th scope="col">Connection</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">gp01</th>
                      <td>Garden Point</td>
                      <td>lat: -27.4773824, long: 153.0292242</td>
                      <td>In Station</td>
                      <td>Offline</td>
                    </tr>
                    
                  </tbody>
                </table>
                <br>
                <div class="map">
                    <iframe width="600" height="450" 
                    src="https://www.google.com/maps/embed/v1/view
                    &key=AIzaSyAK8MrWHM4riyD4HJ6M5pabVAs09scuLBU
                    &center=-27.4773824,153.0292242
                    &zoom=18
                    &maptype=satellite" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

        